.idea
*.pyc
dist
bin
*.egg-info
Virtualenv
build
venv
.ipynb_checkpoints
config.json
config.yaml
ph4_esp32/config.json
*.secret.md
.env
tuya_config.local.h
ph4_tuyaopen_esp32bridge/tuyaopen/
ph4_tuyaopen_esp32bridge/.build/
