# -----------------------------------------
# /etc/systemd/system/ph4bark.service
# -----------------------------------------
[Unit]
Description=ph4bark
After=network.target
After=nut-server.service

[Service]
User=ph4bark
Group=ph4bark
WorkingDirectory=/tmp
RuntimeDirectory=/tmp

Type=simple
Environment=DNS_PUBLIC=tcp
Environment=TORSOCKS_ALLOW_INBOUND=1

ExecStart=/etc/ph4bark/ph4bark.sh
StandardOutput=append:/var/log/ph4bark.log
StandardError=append:/var/log/ph4bark.log
# Another alternative for logging is to execute ExecStart as /bin/bash -c ""

RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
